html{
  font-family: 'Open Sans';
  background-image: url("../img/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bienvenido-paciente{
  align-content: center;
}

.botones {
  padding-bottom: 20px;
}
.dato{
  color: black;
}

.un-paciente{
  border: 2px solid black;
  display: inline-block;
  margin: 20px 0 0 20px;
  padding: 15px;
}
.un-paciente p {
  margin: 3px 0;
}

body{

  text-align: center;
  padding-top: 80px;
}

form{
  display: inline-block;
  text-align: left;
}
button{
  margin: 0 auto;
  display: block;
  font-weight:bold;
  color:white;
  background:#638cb5;
  border:2px;

}
span{
  font-family: sans-serif;
  color: red;
  margin-left: 60px;
}
